  @import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"); */
*{
    /* font-family: 'PT Serif', serif; */
  font-family: 'Dancing Script', cursive;
}
.bannerBgImage{
height: 100vh;
background-image: url("/IMAGES/bannerimg.webp");
background-size: cover;
position: relative;
}

.bannerText{
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.bannerTitle{
    font-size: 4rem;

}

.bannerDesc{
    font-size: 2rem;
}

.card{
    cursor: pointer;
}

.card:hover{
    background-color: palevioletred;
    border: 2px solid rgb(53, 219, 234)
}

.bIcon{
    width: 200%;
    text-align: center;
    font-size: 40px;

}

.img-fluid:hover{

    border: 2px solid rgb(53, 219, 234);
}

/* .navbar-brand{
    animate__flip
} */